branches/preview/gpd/plugins/org.jbpm.ui/schema/orgfunctions.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://runa.ru/xml" xmlns="http://runa.ru/xml" elementFormDefault="qualified">
	<xs:element name="functions">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="function" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:attribute name="class" type="xs:string" use="required"/>
						<xs:attribute name="name" type="xs:string" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>