projects/wfe/wfe-bots/src/main/resources/bot/botstation.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://runa.ru/xml" xmlns="http://runa.ru/xml" elementFormDefault="qualified">
	<xs:element name="botstation">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="thread-pool-size" type="xs:integer"/>
			</xs:sequence>
			<xs:attribute name="login" type="xs:string" use="required"/>
			<xs:attribute name="password" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
